In [42]:
import pandas as pd

In [43]:
#Path for csv and read by pandas
purchase_data = "Resources/purchase_data.csv"
df = pd.read_csv(purchase_data)

In [44]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [45]:
#Player Count
uniquePlayers = len(df["SN"].unique())

totalPlayer = ({"Total Players": [uniquePlayers]})
totalPlayer_df = pd.DataFrame(totalPlayer)
totalPlayer_df

   Total Players
0            576

In [46]:
#Purchase Analysis Total
#Number of Unique Items
uniqueItems = len(df["Item Name"].unique())
               
#Average Purchase Price
averagePrice = round(df["Price"].mean(),2)
                  
#Total Number of Purchases
purchases = df["Purchase ID"].sum() + 1
                 
#Total Revenue
totalRevenue = df["Price"].sum()

purchase_df = pd.DataFrame({"Number of Unique items": [uniqueItems],
                       "Average Price": [averagePrice],
                       "Number of Purchases": [purchases],
                       "Total Revenue": [totalRevenue]})
purchase_df

   Number of Unique items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05               303811        2379.77

In [55]:
#Gender Demographics
#Create new df with only SN and Gender and drop duplicate SN
playerGender_df = df[["SN","Gender"]]
uniquePlayer_df = playerGender_df.drop_duplicates(subset=["SN"])

#Percent and count of Male Players
malePlayers = len(uniquePlayer_df.loc[uniquePlayer_df["Gender"] == "Male"])
malePlayerPercent = (malePlayers / uniquePlayers) *100

#Percent and count of Female Players
femalePlayers = len(uniquePlayer_df.loc[uniquePlayer_df["Gender"] == "Female"])
femalePlayerPercent = (femalePlayers / uniquePlayers) * 100

#Percent and count of Other/Non-Disclosed
otherPlayers = len(uniquePlayer_df.loc[uniquePlayer_df["Gender"] == "Other / Non-Disclosed"])
otherPlayerPercent = (otherPlayers / uniquePlayers) * 100

gender_df = pd.DataFrame({"": ["Male","Female","Other / Non-Disclosed"],
                         "Total Count": [malePlayers, femalePlayers, otherPlayers],
                         "Percentage of Players": [malePlayerPercent, femalePlayerPercent, otherPlayerPercent]})

#Format Percent Column
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2f}%".format)

gender_df

                          Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [ ]:
#Purchasing Analysis (Gender)
#The Below Broken Down by Gender:

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

In [31]:
# Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group

In [32]:
#Top Spenders
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

In [33]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [ ]:
#Most Profitable Items
#Identify the 5 most profitable items by total purchase value, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value